body {
  font-family: sans-serif;
}
.search-bar {
  border: 1px solid #3bb4c1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
#search-btn {
  border: none;
  background-color: #43bfc7;
  box-shadow: 5px 5px 10px #d9faff;
  border-radius: 5px;
}
#current-btn {
  border: none;
  background-color: #43bfc7;
  box-shadow: 5px 5px 10px #d9faff;
  border-radius: 5px;
}
p {
  display: block;
  font-size: 12px;
  text-align: right;
  font-weight: lighter;
}
.date {
  color: #7c7c7c;
  font-size: 11px;
  font-weight: 100;
}
.data {
  display: block;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size: 35px;
  color: #4a4a48;
}
.temperature {
  font-weight: bold;
  font-size: 35px;
}